<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Users</title>
    <link rel="icon" th:href="@{/images/pomodorio-icon.png}" type="image/png">
    <link th:rel="stylesheet" th:href="@{/css/adminPages.css}">
</head>
<body>

<header class="header">
    <a th:href="@{/back-to-landing}" class="logo"><h1>Pomodorio</h1></a>
    <div class="nav-container">
        <nav>
            <a th:href="@{/products/categories}">Departments</a>
            <a th:href="@{/admin/statistics}">Statistics</a>
            <a th:href="@{/admin/users}">Manage Users</a>
            <a th:href="@{/admin/orders}">Manage Orders</a>
            <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
            <form id="logout-form" th:action="@{/logout}" method="post" style="display:none;">
                <input type="submit" value="Logout">
            </form>
        </nav>
    </div>
</header>

<div class="admin-content">
    <h1>Manage Users</h1>

    <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.roles}"></td>
            <td>
                <div class="button-container">
                    <form th:action="@{/admin/add-admin/{userId}(userId=${user.id})}" method="post">
                        <button type="submit" class="btn-action">Add Admin</button>
                    </form>
                    <form th:action="@{/admin/remove-admin/{userId}(userId=${user.id})}" method="post">
                        <button type="submit" class="btn-action">Delete Admin</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>