<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pomodorio</title>
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <link rel="icon" th:href="@{/images/pomodorio-icon.png}" type="image/png">
</head>
<body>

<section class="background-image">
    <header class="header">
        <a th:href="@{/admin}" class="logo"><h1>Pomodorio</h1></a>
    </header>

    <div class="sidebar">
        <nav>
            <ul>
                <li><a th:href="@{/products/categories}">Departments</a></li>
                <li><a th:href="@{/account}">Account</a></li>
                <li><a th:href="@{/admin/statistics}">Statistics</a></li>
                <li><a th:href="@{/admin/users}">Manage Users</a></li>
                <li><a th:href="@{/admin/orders}">Manage Orders</a></li>
                <li><a th:href="@{/user}">Switch to User</a></li>
                <li><a th:href="@{/cart}">Cart</a></li>
                <li><a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                </li>
            </ul>
        </nav>
        <form id="logout-form" th:action="@{/logout}" method="post" style="display:none;">
            <input type="submit" value="Logout">
        </form>
    </div>

    <div class="section1">
        <div class="section1-content">
            <p>Immerse yourself in the world of fresh products, take care of your health and beauty with us.</p>
            <a th:href="@{/products/categories}" class="btn-view-products">View all departments</a>
        </div>
    </div>
</section>

</body>
</html>
