<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pomodorio</title>
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <link rel="icon" th:href="@{/images/pomodorio-icon.png}" type="image/png">
</head>
<body>

<section class="background-image">
    <header class="header">
        <a th:href="@{/admin}" class="logo"><h1>Pomodorio</h1></a>
    </header>

    <div class="sidebar">
        <nav>
            <ul>
                <li><a th:href="@{/admin#products}">Products</a></li>
                <li><a th:href="@{/account}">Account</a></li>
                <li><a th:href="@{/admin/statistics}">Statistics</a></li>
                <li><a th:href="@{/admin/users}">Manage Users</a></li>
                <li><a th:href="@{/admin/orders}">Manage Orders</a></li>
                <li><a th:href="@{/user}">Switch to User</a></li>
                <li><a th:href="@{/cart}">Cart</a></li>
                <li><a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                </li>
            </ul>
        </nav>
        <form id="logout-form" th:action="@{/logout}" method="post" style="display:none;">
            <input type="submit" value="Logout">
        </form>
    </div>

    <div class="section1">
        <div class="section1-content">
            <p>Immerse yourself in the world of fresh products, take care of your health and beauty with us.</p>
            <a th:href="@{/admin#products}" class="btn-view-products">View all products</a>
        </div>
    </div>
</section>


<section id="products" class="products-section">
    <h2>Products</h2>
    <div class="category-grid">
        <!--1st row-->
        <div class="category-item">
            <a th:href="@{/products(categoryId=1)}">
                <img th:src="@{/images/categories/fruits-and-veggies.png}" alt="Fruits & Veggies">
                <p>Fruits & Veggies</p>
            </a>
        </div>
        <div class="category-item">
            <a th:href="@{/products(categoryId=2)}">
                <img th:src="@{/images/categories/meat-fish.png}" alt="Meat & Fish">
                <p>Meat & Fish</p>
            </a>
        </div>
        <div class="category-item">
            <a th:href="@{/products(categoryId=3)}">
                <img th:src="@{/images/categories/diary-eggs.png}" alt="Fruits & Veggies">
                <p>Diary & Eggs</p>
            </a>
        </div>

        <!--2nd row-->
        <div class="category-item">
            <a th:href="@{/products(categoryId=4)}">
                <img th:src="@{/images/categories/bakery.png}" alt="Bakery">
                <p>Bakery</p>
            </a>
        </div>
        <div class="category-item">
            <a th:href="@{/products(categoryId=5)}">
                <img th:src="@{/images/categories/pantry-staples.png}" alt="Pantry Staples">
                <p>Pantry Staples</p>
            </a>
        </div>
        <div class="category-item">
            <a th:href="@{/products(categoryId=6)}">
                <img th:src="@{/images/categories/sweets-snacks.png}" alt="Sweets & Snacks">
                <p>Sweets & Snacks</p>
            </a>
        </div>

        <!--3rd row-->
        <div class="category-item">
            <a th:href="@{/products(categoryId=7)}">
                <img th:src="@{/images/categories/beverages.png}" alt="Beverages">
                <p>Beverages</p>
            </a>
        </div>
        <div class="category-item">
            <a th:href="@{/products(categoryId=8)}">
                <img th:src="@{/images/categories/organic-dietary.png}" alt="Organic & Dietary Products">
                <p>Organic & Dietary Products</p>
            </a>
        </div>
        <div class="category-item">
            <a th:href="@{/products(categoryId=9)}">
                <img th:src="@{/images/categories/health-beauty.png}" alt="Health & Beauty">
                <p>Health & Beauty</p>
            </a>
        </div>

    </div>
</section>

</body>
</html>
