.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #cce3de;
}

.auth-form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.auth-form h2 {
  text-align: center;
  color: #1e1e24;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #1e1e24;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.auth-button {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem;
  background-color: #85baa1;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: #6a9480;
}

.auth-error {
  background-color: #ffebee;
  color: #c62828;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.auth-links {
  text-align: center;
  margin-top: 1rem;
}

.auth-links a {
  color: #85baa1;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}

/* Styles for the Google Login Button */
.google-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  color: black;
  border-color: #85baa1;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  padding: 0.3rem 0.75rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.google-button:hover {
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.google-icon {
  height: 2rem;
  margin-right: 0.5rem;
}

.auth-links {
  text-align: center;
  margin-top: 1rem;
}

.auth-links a {
  color: black;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: none;
}
